*.[oa]
*.exe
*.gch
*.lib
*.manifest
*~
.*.swp
CMakeCache.txt
CMakeFiles/
Debug/
MinSizeRel/
RelWithDebInfo/
Release/
build-stamp
build/
cmake_install.cmake
compile_commands.json
debian/debhelper-build-stamp
debian/files
debian/uhub.debhelper.log
debian/uhub.postinst.debhelper
debian/uhub.postrm.debhelper
debian/uhub.prerm.debhelper
debian/uhub.substvars
mod_*.dll
mod_*.exp
mod_*.so
obj-*

# Top level only
/*.cmake
/*.log
/Makefile
/Testing
/adcrush
/autotest-bin
/passwd-test
/plugins.conf
/system.h
/uhub
/uhub-admin
/uhub-passwd
/uhub.conf
/version.h

# Docker ignore only
.dockerignore
Dockerfile*
