*.[oa]
*.exe
*.gch
*.lib
*.manifest
*~
.*.swp
CMakeCache.txt
CMakeFiles/*
CTestTestfile.cmake
Makefile
adcrush
build
build-stamp
cmake_install.cmake
compile_commands.json
debian/debhelper-build-stamp
debian/files
debian/uhub.debhelper.log
debian/uhub.postinst.debhelper
debian/uhub.postrm.debhelper
debian/uhub.prerm.debhelper
debian/uhub.substvars
doc/plugins.conf
doc/uhub.conf
mod_*.dll
mod_*.exp
mod_*.so
obj-*
system.h
uhub
uhub-admin
uhub-passwd
version.h
